$background-color: #EEEDE7;
$first-additional-color: #E7D2CC;
$second-additional-color: #B9B7BD;
$third-additional-color: #868B8E;
$white: #FBFBFB;

$headers-font-size: 30px;
$paragraphs-font-size: 20px;

$max-width: 1000px;
$min-width: 375px;

$font-family: 'Cuprum', sans-serif;